body{
    font-family:'Courier New', Courier, monospace;
    margin:0;
        background-image: url('assets/background.jpg');
        background-size: cover; /* Makes the background cover the entire page */
        background-position: center center; /* Center the image */
        background-attachment: fixed; /* Keeps the image fixed during scrolling */
    
}

#title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 8cm;
    text-align: center;
    margin: 30px;
}

#p5-container {
    position: relative;
}

/* .background-1 {
    background-image: url('assets/body1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} */

/* .background-2 {
    background-image: url('assets/body2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: middle;
}

.background-3 {
    background-image: url('assets/body3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
} */

.box{
    width: 300px;
    height: 200px;
    padding: 20px;
    margin:5px;
    display: inline-block;
}
.box-1{
    background-color: yellow;
    /* position: sticky;
    top: 50px;
    left:100px; */
}
.box-2{
    background-color: silver;
    background-image: url('assets/body1.jpg');
    background-position: center;
}
.flexbox-content{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}
iframe{
    width:100%;
    display: block;
}
